nav.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84bf41;
  height: 3em;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.button {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  line-height: 0;

  &:active {
    opacity: 0.5;
    transition-duration: 200ms;
  }

  svg {
    transform: rotate(180deg);
    padding-left: 0.5em;
  }

  span {
    color: #fff;
  }
}