div.item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.itemThumbnail {
  max-width: 3.6rem;
  max-height: 3.6rem;
  border-radius: 1.8rem;
  margin-right: 10px;
}

div.itemTextWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  // border-bottom: 1px solid #c8c7cc;
}

div.itemTextHeading {
  margin: 0 0 2px;
  font-size: 1.2rem;
  font-weight: normal;
}

div.itemTextInfo {
  margin: 0 0 2px;
  font-size: 0.9rem;
  line-height: normal;
  color: #666;
}